<a href="https://colab.research.google.com/github/drdww/OPIM5641/blob/main/1_Practical_Python_Programming_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Practical Python Language Basics
**Dr. Dave Wanik - Dept. Operations & Information Management - University of Connecticut**

------------------------------------------------

Here is a practical introduction to Python - which was developed from various textbook and online resources (see bottom) along with my expertise and previous experience for what is actually useful right out of the gate. Enjoy!

# The Zen of Python
Read more on the Zen of Python here: https://www.python.org/dev/peps/pep-0020/

<center>

![picture of python logo](https://www.python.org/static/opengraph-icon-200x200.png)

</center>

*Pssst... double click this cell to see how to embed an image directly into the notebook - I like to image files online all the time! Makes the notebook look nice.*

In [ ]:
# a nice little easter egg ;)
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Python Comments
As a start, please ensure every line of code has a comment! It will help you be a more organized coder (every line has a purpose) and it makes it easier for me to grade!

In [ ]:
### Comments starts with a #, and Python will ignore them:
#This is a comment

# make a print statement for hello world
print("Hello, World!")

print("Hello World!") #This is a comment

#print("Hello, World!")
print("Cheers, Mate!")

Hello, World!
Hello World!
Cheers, Mate!

#Basic data types

##Numbers
With numbers we can perform mathematical operations.

Integers and floats work as you would expect from other languages:

In [ ]:
x = 3 # this says x is assigned to 3
print(x)
print(type(x))

3
<class 'int'>

In [ ]:
# you can do math with integers and numbers!
y = 2*x
print(y)

6

Notice how we have to use multiple print cells if we want to print multiple content.

In [ ]:
print(x + 1)   # Addition;
print(x - 1)   # Subtraction;
print(x * 2)   # Multiplication;
print(x ** 2)  # Exponentiation;

4
2
6
9

If you don't use multiple print cells, it will only print the last output.

In [ ]:
x + 1   # Addition;
x - 1   # Subtraction;
x * 2   # Multiplication;
x ** 2  # Exponentiation;

9

Notice the flexibility you have with assignment. You can very easily overwrite variables.

In [ ]:
x = 3
x = x + 1 
print(x) # prints "4"
x = x * 2 
print(x) # prints "8"

4
8

Python can work with integers as well as decimals - like this.

In [ ]:
y = 2.5
print(type(y)) # Prints "<type 'float'>"
print(y, y + 1, y * 2, y ** 2) # Prints "2.5 3.5 5.0 6.25"

<class 'float'>
2.5 3.5 5.0 6.25

Python also has built-in types for long integers and complex numbers; you can find all of the details in the [documentation](https://docs.python.org/2/library/stdtypes.html#numeric-types-int-float-long-complex).

### Python Arithmetic Operators


<table>
<tr>
  <th> Operator </th>
  <th> Name </th>
  <th> Example </th>
</tr>
<tr>
  <td> +	</td>
  <td> Addition </td>
  <td> x + y  </td>
</tr>
<tr>
  <td> -	</td>
  <td> Subtraction </td>
  <td> 	x - y  </td>
</tr>
<tr>
  <td> *	</td>
  <td> Multiplication	</td>
  <td> x * y </td>
</tr>
<tr>
  <td> / </td>
  <td> Division	</td>
  <td> x / y </td>
</tr>
<tr>
  <td> % </td>
  <td> Modulus </td>
  <td> x % y </td>
</tr>
<tr>
  <td> ** </td>
  <td> Exponentiation </td>
  <td> x ** y </td>
</tr>
<tr>
  <td> //		</td>
  <td> Floor division	 </td>
  <td> x // y  </td>
</tr>

##Booleans (True or False)
This are useful for conditions (e.g. is this value equal to another value).

Python implements all of the usual operators for Boolean logic, but uses English words rather than symbols (`&&`, `||`, etc.):

In [ ]:
t = True
f = False
print(type(t), type(f))

<class 'bool'> <class 'bool'>

In [ ]:
x = 1
y = 2 # = is the ASSIGNMENT OPERATOR

print(x == y) # == means 'is identically equal to' vs. = 'is assigned to'
print(x != y)  # Logical not equal to;

False
True

##Strings (characters)

In [ ]:
hello = 'HELLOOOO'   # String literals can use single quotes
world = "world"   # or double quotes; it does not matter.
print(hello, len(hello)) # len() tells you how long the string is

HELLOOOO 8

In [ ]:
hw = hello + ' ' + world  # String concatenation (paste two values together)
print(hw)  # prints "hello world"

HELLOOOO world

In [ ]:
hw12 = '%s %s %d' % (hello, world, 12)  # sprintf style string formatting
print(hw12)  # prints "hello world 12"

HELLOOOO world 12

String objects have a bunch of useful methods; for example:

In [ ]:
s = "hello"
print(type(s))
print(s.capitalize())  # Capitalize a string; prints "Hello"
print(s.upper())       # Convert a string to uppercase; prints "HELLO"
print(s.rjust(7))      # Right-justify a string, padding with spaces; prints "  hello"
print(s.center(7))     # Center a string, padding with spaces; prints " hello "
print(s.replace('l', '(ell)'))  # Replace all instances of one substring with another;
                               # prints "he(ell)(ell)o"
print('  world '.strip())  # Strip leading and trailing whitespace; prints "world"

<class 'str'>
Hello
HELLO
  hello
 hello
he(ell)(ell)o
world

In [ ]:
s = "hello"
s.replace('l', '(ell)')

'he(ell)(ell)o'

In [ ]:
x = 'Helao'
x.replace('a','l')

'Hello'

In [ ]:
y=[1,2,3,'a','b'] 
y[:-2]

[1, 2, 3]

You can find a list of all string methods in the [documentation](https://docs.python.org/2/library/stdtypes.html#string-methods).

# Variable Names
Right about now, you might be wondering which variable names you can use.

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). But as a best practice, don't name variables like functions (if you are taking the mean of a list of numbers, don't name the variable `mean`... instead, name it `MyMean` or `meanVal`. You will quickly learn your style for naming variables. 

As I've shown before it's nice to overwrite variables if you're not going to use them for long... I typically reserve variables like `x` and `tmp` for this purpose.

**Rules for Python variables:**

* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (`age`, `Age` and `AGE` are three different variables)

## Example of Legal vs. Illegal Names

In [ ]:
#Legal variable names:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

#Illegal variable names:
# myvar = "John" ## ERROR! starts with a number
# my-var = "John" ## ERROR! has an invalid character
# my var = "John" ## ERROR! has a space in the variable name - spaces matter!

# Data Structures (Containers)
Here are some other great resources you may want to check out: 

* https://www.protechtraining.com/content/python_fundamentals_tutorial-advanced_types_containers
* https://www.oreilly.com/library/view/machine-learning-with/9781491989371/ch01.html
* http://www.compciv.org/

## List ['a', 'b', 'c', 1, 2, 3]
Lists have ***square brackets*** `[like, this]` with individual elements separated by a comma. Lists can  contain data of any type (numeric or character). Remember - if you are trying to print two things in a cell, you need to include `print()`. Sometimes I just print this as two different cells.

Here's an example of a list with numeric data.

In [ ]:
# this is a list!
x = [1, 2, 3]
x # prints the variable (without needing a print statement)

[1, 2, 3]

In [ ]:
type(x) # confirms that it's a list

list

And here's a list with mixed data types. Notice how I am overwriting the variable `x` - coding languages are like recipes... they follow the code in logical order (which is a good thing!)

In [ ]:
# notice how numbers are green/blue and the strings need quotes 'string' and are red 
x = [1, 2, 3, 'a', 'b', 'c'] 
x # prints the variable (without needing a print statement)

[1, 2, 3, 'a', 'b', 'c']

In [ ]:
# you typically don't need to show the type, but for completeness\
# here's how you can print two things
print(type(x))
print(x)

<class 'list'>
[1, 2, 3, 'a', 'b', 'c']

In [ ]:
x[3:] # slice from the 4th element to the end (BECAUSE PYTHON COUNTS FROM 0!)

['a', 'b', 'c']

Let's see if we can extract the second element of the list and some other subsets. **Remember** - ***Python starts counting from 0!***

In [ ]:
# extract the 2nd element from the list
x[1] # voila! look up and check your work

2

In [ ]:
# for fun, here's the 4th element
x[3] # make sure you look up and check your work

'a'

Here's how you can extract the elements after (and including the Nth element).

In [ ]:
# extract the last two elements of the list
print(x)
x[4:] # nice easy syntax... extract everything including and after the 5th element

[1, 2, 3, 'a', 'b', 'c']

['b', 'c']

Extract the fifth and sixth element.

In [ ]:
# this way is a bit advanced, but we will talk about it later!
# this is known as list comprehension.
[x[i] for i in (4,5)]

['b', 'c']

Extract the 3rd, 5th and 6th element.

In [ ]:
# ... but at least it generalizes!
[x[i] for i in (2,4,5)] # here we are extracting the 3rd, 5th and 6th elements

[3, 'b', 'c']

Here's a way of returning elements from the left or right... which you can generalize... pay attention the the use of the negative sign `-` and the colon `:`

In [ ]:
x[-2:] # return the last two elements

['b', 'c']

In [ ]:
x[:-2] # return everything EXCEPT the last two elements

[1, 2, 3, 'a']

In [ ]:
# return the first two elements
x[:2]

[1, 2]

In [ ]:
# return everything EXCEPT the first two elements
x[2:]

[3, 'a', 'b', 'c']

As you can see, order really matters here!

A list is the Python equivalent of an array, but is resizeable and can contain elements of different types:

In [ ]:
xs = [3, 1, 2]   # Create a list
print(xs, xs[2])
print(xs[-1])     # Negative indices count from the end of the list; prints "2"

[3, 1, 2] 2
2

In [ ]:
xs[2] = 'foo'    # Lists can contain elements of different types
print(xs)

[3, 1, 'foo']

In [ ]:
xs.append('bar') # Add a new element to the end of the list
print(xs)

[3, 1, 'foo', 'bar']

In [ ]:
x = xs.pop()     # Remove and return the last element of the list
print(x)

bar

You can find all the details about lists in the [documentation](https://docs.python.org/2/tutorial/datastructures.html#more-on-lists).

####Slicing

In addition to accessing list elements one at a time, Python provides concise syntax to access **sublists**; this is known as slicing:

In [ ]:
nums = range(5)    # range is a built-in function that creates a list of integers
print(nums)         # Prints "[0, 1, 2, 3, 4]"
print(type(nums))   # This is stored as a range... if we want to overwrite parts of 
                    # it, we will need to convert to a list

range(0, 5)
<class 'range'>

Let's convert `nums` to a list.

In [ ]:
nums = list(nums)
print(nums, type(nums)) # voila!

[0, 1, 2, 3, 4] <class 'list'>

In [ ]:
nums[2]=4
nums

[0, 1, 4, 3, 4]

In [ ]:
print(nums[2:4])    # Get a slice from index 2 to 4 (exclusive); prints "[2, 3]"
print(nums[2:])     # Get a slice from index 2 to the end; prints "[2, 3, 4]"
print(nums[:2])     # Get a slice from the start to index 2 (exclusive); prints "[0, 1]"
print(nums[:])      # Get a slice of the whole list; prints ["0, 1, 2, 3, 4]"
print(nums[:-1])    # Slice indices can be negative; prints ["0, 1, 2, 3]"
nums[2:4] = [8, 9] # Assign a new sublist to a slice
print(nums)         # Prints "[0, 1, 8, 9, 4]"

[2, 3]
[2, 3, 4]
[0, 1]
[0, 1, 2, 3, 4]
[0, 1, 2, 3]
[0, 1, 8, 9, 4]

## Dictionary

In [ ]:
# list
# https://en.wikipedia.org/wiki/Array_data_structure
products = ["chair","desk","table"]

# dictionary
# https://en.wikipedia.org/wiki/Hash_table

fabrication = { 
    "chair" : 4,
    "desk" : 6,
    "table" : 2
}
assembly = {
    "chair" : 3,
    "desk" : 5,
    "table" : 7
}
shipping = { 
    "chair" : 3,
    "desk" : 2,
    "table" : 4
}
demand = { 
    "chair" : 360,
    "desk" : 300,
    "table" : 100
}
profit = { 
    "chair" : 15,
    "desk" : 24,
    "table" : 18
}
hours = { 
    "fabrication" : 1850,
    "assembly" : 2400,
    "shipping" : 1500
}

### Slicing

In [ ]:
# this will just print the output
demand

{'chair': 360, 'desk': 300, 'table': 100}

time: 12.3 ms (started: 2021-08-23 14:09:21 +00:00)

In [ ]:
# this is how you subset by a key
demand['chair']

360

time: 5.87 ms (started: 2021-08-23 14:09:21 +00:00)

Want to add lamps to the dictionary? You are 'appending to a dictionary in Python' - do a Google search and find an example!

* https://thispointer.com/python-how-to-add-append-key-value-pairs-in-dictionary-using-dict-update/

In [ ]:
demand.update({'lamps':100}) # see how it put it in alphabetical order?
demand

# of course you will need to add the constraints to this too...

{'chair': 360, 'desk': 300, 'lamps': 100, 'table': 100}

time: 10.2 ms (started: 2021-08-23 14:22:12 +00:00)

# Resources
Please check out these excellent resources which I used to make this notebook.

*   W3 Schools 'Intro to Python'
  * Just navigate on the lefthand menu and check out the various topics.
    * https://www.w3schools.com/python/default.**asp**
* Geeks for Geeks 'Intro to Python'
  * Similar to W3, but a different presentation.
    * https://www.geeksforgeeks.org/python-programming-language/?ref=lbp
*   CS 228 Intro to Python to Tutorial
  * It's a good tutorial, but uses an old version of Python. We've updated the examples here.
    * https://github.com/kuleshov/teaching-material/blob/master/tutorials/python/cs228-python-tutorial.ipynb
* Cheat sheets! For numpy, matplotlib, pandas and more...
  * https://alansimpson.me/python/cheatsheets/

Looking to test yourself? Play with the exercises on W3! You can go from "Syntax" up to and including "For Loops" - keep going if you want to!
(https://www.w3schools.com/python/exercise.asp?filename=exercise_syntax1)