<a href="https://colab.research.google.com/github/drdww/OPIM5641/blob/main/Module1/M1_2/Activity/ExploringIris_Blank.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Individual Assignment M1.1: Iris EDA

**OPIM 5641: Business Decision Modeling - University of Connecticut**

--------------------------------------------------------------------------
* Your Name Here
* Your NetID Here

**Description:** This is a very standard dataset from analytics and data science - the Iris dataset. 

Here is a link to the description of the dataset (yes - it is from 1988 - and it is still the 'hello world' of data analysis): https://archive.ics.uci.edu/ml/datasets/iris

You may work with your fellow classmates, but you need to complete the assignment on your own. I expect different headers and COMMENTS (comments are the key to showing that you really know your stuff - without comments, your code is useless to me).

**Rubric:**
* (100 pts total, 10 pts each) To receive full credit on each item - plots, tables, calculations must have been made accurately and be well-labeled. Comments should be provided for all arguments (strive for one comment per line). We want to be able to tell you know your stuff!

The first lines were included for your convenience.

1. Run df.info() and check for any missing values. How do you know there aren't any missing values?
2. Calculate the 10th, 30th, 50th, 70th, and 90th  percentile of `petal length`. Then do the same for `petal width`.
3. Subset all rows where the 'species' is equal to 'setosa' and assign to a variable called `tmp`. Print a) the shape of `tmp` and b) then show the first 5 rows of the dataframe using head. Then make a boxplot of the sepal width. Add good labels to all axes and a meaningful title.
4. Subset all rows where 'species' is equal to 'versicolor' and assign to a variable called `tmp2`. Print a) the shape of `tmp2` and b) then show the first 5 rows of the dataframe using head. Then make a histogram of the petal width. Add good labels to all axes and a meaningful title.
5. Subset all rows where 'species' is equal to 'virginica' and assign to a variable called `tmp3`. Print a) the shape of `tmp3` and b) then show the first 5 rows of the dataframe using head. Then make a scatterplot of the sepal length vs. the sepal width. Add good labels to all axes and a meaningful title.
6. Count the number of rows where sepal length is greater than 3.5.
7. Count the number of rows where sepal length is greater than 3.5 and sepal width is less than 3.2.
8. Count the number of rows where sepal width is greater than the 83th percentile for sepal width. 
9. Make a density plot for sepal width, but make sure there are 3 curves on the single graph - one for each type of Iris.
10. Make a histogram for petal width, but make sure there are 3 histogram on the single graph - one for each type of species.

# Solution

## Reading data
You will find the link included already for your convenience.

In [ ]:
import pandas as pd
from pylab import *
df = pd.read_csv('https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/0e7a9b0a5d22642a06d3d5b9bcbad9890c8ee534/iris.csv')
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]