<a href="https://colab.research.google.com/github/drdww/OPIM5641/blob/main/Module2/M2_2/1_General_Simplex_Maximization_Steps.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# General Simplex Maximization Steps

**OPIM 5641: Business Decision Modeling - Dept. of Operations and Information Management - University of Connecticut**

------------------------------------------

In [ ]:
# this is a helpful function for coloring a cell in a table

# Custom function to color the desired cell
def styling_specific_cell(x,row_idx,col_idx):
    color = 'background-color: yellow; color: red'
    df_styler = pd.DataFrame('', index=x.index, columns=x.columns)
    df_styler.iloc[row_idx, col_idx] = color
    return df_styler

# 1) Write the problem in standard form

## Make sure it's a maximization problem!
Obviously.

## Ensure all LHS <= RHS constraints
* Make sure that you have all LHS <= RHS constraints (and nonnegativity constraint, too!)

## Add slack variables and get rid of inequalities


* Turn your inequalities into equalities (this requires adding a SLACK VARIABLE for each constraint)
* One slack variable per constraint! Three constraints? Three slack variables.
  * A slack variable is simply the 'unused quantity' - makes sense for <= constraints!

$x_1 + x+2 <= 11$ 

becomes 

$-x_1 + x_2 + s_1 = 11$

where $s_1$ is the slack variable. It's okay if $s_1 = 0$! We will worry about that later when we talk about binding constraints (which are the most interesting constraints - good for sensitivity analysis).

## Rearrange terms in objective function
* Rearrange terms in objective function (this is the last row of initial simplex tableau).

## Create initial simplex tableau
Make sure you have one column for each decision variable and one column for each slack variable. The last row is your rearranged objective function.

# 2) Solve using Simplex

## Identify entering variable
The column where the largest negative number resides in bottom row. 

AKA look down and look for biggest negative number. 

The entering variable in our 2D Max problem is `x2`

## Identify departing variable
Requires you to calculate $b/a$. 

Select the smallest, POSITIVE $b/a$. This is the row.

## Identify pivot element.
It's just the intersection of the row and the column you just identified.

## Turn the pivot element into a '1'
If it's already a 1, skip ahead to next step.

If not, multiply the row with the pivot element by a fraction (like 1/7 if a 7 is in the pivot element). This will make it a '1'.

## Gauss-Jordan Elimination
Let's say your matrix looked like this.

In [ ]:
from sympy import Matrix, Rational, pprint, nsimplify
import numpy as np
import pandas as pd

A = Matrix([[-1, 1, 1, 0, 0, 11], #R0
              [1,1,0,1,0,27], #R1
              [2,5,0,0,1,90], #R2
              [-4,-6,0,0,0,0]]) #R3

# print it
pprint(A) # voila - looks great! don't forget the extra p for pretty print

⎡-1  1   1  0  0  11⎤
⎢                   ⎥
⎢1   1   0  1  0  27⎥
⎢                   ⎥
⎢2   5   0  0  1  90⎥
⎢                   ⎥
⎣-4  -6  0  0  0  0 ⎦

In [ ]:

# make it pretty
tmp = pd.DataFrame(np.array(A).astype(float)) # you only need this in the first example
tmp.columns = ['x1', 'x2', 's1', 's2','s3', 'b']
tmp.index=['R0', 'R1', 'R2','R3'] # row 0, row 1, row 2, row 3 (R3)
tmp

# add some color to highlight R0 and x2 

# style - this is for an individual cell (Pivot element)
idx_r = 0   # Row index of cell to color
idx_c = 1   # Column index of cell to color 

#coloring departing variable/row(R0) and entering column/variable(x2)
tmp.style\
.apply(lambda x: ['background: lightblue' if x.name == 'x2' else '' for i in x])\
.apply(lambda x: ['background: lightblue' if x.name == 'R0' else '' for i in x], axis=1)\
.apply(styling_specific_cell, row_idx = idx_r, col_idx = idx_c, axis = None)

Dave says: 'Leave the row of interest and add multiples of the row with the pivot element.' R1 and R2 look a little funny... but it keeps you organized. 

$R1 = R1 + (-1)*R0$ `the new R1 is R1 plus a multiple of the row with the pivot element`

$R2 = R2 + (-5)*R0$

$R3 = R3 + (6)*R0$

## Check bottom row - any negative numbers?
If yes, go back to 'Identify entering variable' and repeat.
If no, read off the final solution.

## Read off final solution
$z$ is in the bottom right corner (that's the value of $max(z)$).
Read off each decision variable (each column should have a bunch of 0s and just a single 1). Read left to right.