<a href="https://colab.research.google.com/github/drdww/OPIM5641/blob/main/Module2/M2_2/7_TheSimplexMethod_Maximization_Mixed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# The Simplex Method: Mixed Constraints (Maximization)
**OPIM 5604: Business Decision Modeling - University of Connecticut**

Material from: "Elementary Linear Algebra" - 8th Edition (Ron Larson) - Chapter 9.

---------------------------------------------------------------------------
**Objectives:**
* Find the maximum of an objective function subject to mixed constraints.

In [ ]:
# import modules
# Matrix makes a sympy Matrix, Rational is FRACTION, pprint makes it pretty print, nsimplify converts decimals to fractions (rational numbers)
from sympy import Matrix, Rational, pprint, nsimplify 

# standard modules
import numpy as np
import pandas as pd

In [ ]:
# awesome latex symbols! all students should be able to write constraints with LaTeX.
# https://oeis.org/wiki/List_of_LaTeX_mathematical_symbols
# http://www.emerson.emory.edu/services/latex/latex_119.html

# Intro
In previous examples, we studied linear programs in *standard form.* The constraints for the maximization problems all involved $\leq$ inequalities, and the constraints for the minimization problems all involved $\geq$ inequalities. As mentioned earlier, linear programming problems for which the constraints involve both types of inequalities are called **mixed-constraint** problems. For example, consider the linear programming problem below. 

Find the maximum value of:
$z = x_1 + x_2 + x_3$

subject to:
* $2x_1 + x_2 + x_3 \leq 50$
* $2x_1 + x_2 \geq 36$
* $x_1 + x_3 \geq 10$
* $x_1, x_2, x_3 \geq 0$ `nonnegativity`

Note that nonnegativity is not a mixed constraint! 

This is a maximization problem, so you would expect each of the inequalities in the set of constraints to involve $\leq$. The first inequality does involve $\leq$, so add a slack variable to form the equation. It becomes:

$2x_1 + x_2 + x_3 + s_1 = 50$

For the other two inequalities, a new type of variable, a **surplus variable**, is introduced as shown below.

$2_x1 + x_2 - s_2 = 36$

$x_1 + x_3 - s_3 = 10$

Notice that surplus variables are subtracted from (not added to) the left side of each equation. They are called surplus variables because they represent the amounts by which the left sides of the inequalities exceed the right sides. Surplus variables must be nonnegative. 

To solve the problem, we make our initial simplex tableau $A$ as shown below.

In [ ]:
# make the initial simplex tableau

A = Matrix([[2,1,1,1,0,0,50],
           [2,1,0,0,-1,0,36],
           [1,0,1,0,0,-1,10],
           [-1,-1,-2,0,0,0,0]])
pprint(A)

⎡2   1   1   1  0   0   50⎤
⎢                         ⎥
⎢2   1   0   0  -1  0   36⎥
⎢                         ⎥
⎢1   0   1   0  0   -1  10⎥
⎢                         ⎥
⎣-1  -1  -2  0  0   0   0 ⎦

In [ ]:
# looks good, but let's make it pretty.
tmp = pd.DataFrame(np.array(A)) # you only need this in the first example
tmp.columns = ['x1', 'x2', 'x3', 's1', 's2', 's3', 'b']
tmp.index=['R0', 'R1', 'R2', 'R3']
tmp

    x1  x2  x3 s1  s2  s3   b
R0   2   1   1  1   0   0  50
R1   2   1   0  0  -1   0  36
R2   1   0   1  0   0  -1  10
R3  -1  -1  -2  0   0   0   0

Solving mixed-constraint problems can be difficult. One reason for this is that there is no convenient feasible solution to begin the simplex method. Note that the solution represented by the initial tableau above $(x_1, x_2, x_3, s_1, s_2, s_3) = (0, 0, 0, 50, −36, −10)$ **is not a feasible solution** because the values of the two surplus variables are **negative**.

# Pivot #1 (Trial and Error - yuck!)
To eliminate the surplus variables from the current solution, use “trial and error.” That is, in an effort to find a feasible solution, arbitrarily choose new entering variables. 

For example, it seems reasonable to select $x_3$ as the entering variable, because its column has the most negative entry in the bottom row.

In [ ]:
# lets add some formatting to show this
# we already have tmp defined with names, no need to replicate

# apply style to a single column
tmp.style\
.apply(lambda x: ['background: lightblue' if x.name == 'x3' else '' for i in x])

Remember, now we need to compute $b/a$ for each element and choose the smallest positive number.

In [ ]:
# R0
print('R0:', 50/1)
# R1
# print(36/0) # impossible
# R2
print('R2:', 10/1)

# so R2 it is! color it below.

R0: 50.0
R2: 10.0

In [ ]:
# highlight a single cell pivot element
idx_r = 2
idx_c = 2

# apply style to rows and columns
tmp.style\
.apply(lambda x: ['background: lightblue' if x.name == 'x3' else '' for i in x])\
.apply(lambda x: ['background: lightblue' if x.name == 'R2' else '' for i in x], axis=1)\
.apply(styling_specific_cell, row_idx = idx_r, col_idx = idx_c, axis = None)

# looks awesome.

Remember, now we need to apply Gauss-Jordan elimiation and turn the pivot element into a $1$ (already done) and make the values above and below into a $0$. Leave the row of interest ($R0$ and $R3$) as-is and add multiples of $R2$.

In [ ]:
# add a -1*R2 to R0
A[0,:] = A[0,:] - A[2,:]

# add a positive 2*R2 to R3
A[3,:] = A[3,:] + 2*A[2,:]

pprint(A)

⎡1  1   0  1  0   1   40⎤
⎢                       ⎥
⎢2  1   0  0  -1  0   36⎥
⎢                       ⎥
⎢1  0   1  0  0   -1  10⎥
⎢                       ⎥
⎣1  -1  0  0  0   -2  20⎦

In [ ]:
# make it pretty
tmp = pd.DataFrame(np.array(A)) # you only need this in the first example
tmp.columns = ['x1', 'x2', 'x3', 's1', 's2', 's3', 'b']
tmp.index=['R0', 'R1', 'R2', 'R3']
tmp

   x1  x2 x3 s1  s2  s3   b
R0  1   1  0  1   0   1  40
R1  2   1  0  0  -1   0  36
R2  1   0  1  0   0  -1  10
R3  1  -1  0  0   0  -2  20

Looks good! We check for negative values and we see we have a negative value for $x_2$. Looks like we continue pivoting...

# Pivot #2
$x_2$ will be our **entering variable** and we compute ratios to determine the **departing variable**.

In [ ]:
print('R0:', 40/1)
print('R1:', 36/1)
# print('R2:', 40/0) DNE - divide by 0

# so R1 is our departing variable

R0: 40.0
R1: 36.0

In [ ]:
# make it pretty
# since tmp is already defined we will just add color

# highlight a single cell pivot element
idx_r = 1
idx_c = 1

# apply style to rows and columns
tmp.style\
.apply(lambda x: ['background: lightblue' if x.name == 'x2' else '' for i in x])\
.apply(lambda x: ['background: lightblue' if x.name == 'R1' else '' for i in x], axis=1)\
.apply(styling_specific_cell, row_idx = idx_r, col_idx = idx_c, axis = None)

# looks great!

Now we apply Gauss-Jordan elimination. Turn the '1' in R0 into a 0, and the -1 in R3 into a 0. Remember: leave the row of interest as-is, and add multiples of R1.

In [ ]:
# we add -1*R2 to R0
A[0,:] = A[0,:] - A[1,:]
# R2 is fine
# we add 1*R2 to R3
A[3,:] = A[3,:] + A[1,:]

pprint(A)

⎡-1  0  0  1  1   1   4 ⎤
⎢                       ⎥
⎢2   1  0  0  -1  0   36⎥
⎢                       ⎥
⎢1   0  1  0  0   -1  10⎥
⎢                       ⎥
⎣3   0  0  0  -1  -2  56⎦

In [ ]:
# and make it pretty
tmp = pd.DataFrame(np.array(A)) # you only need this in the first example
tmp.columns = ['x1', 'x2', 'x3', 's1', 's2', 's3', 'b']
tmp.index=['R0', 'R1', 'R2', 'R3']
tmp

    x1 x2 x3 s1  s2  s3   b
R0  -1  0  0  1   1   1   4
R1   2  1  0  0  -1   0  36
R2   1  0  1  0   0  -1  10
R3   3  0  0  0  -1  -2  56

We still have negative values for the slack variables, so we keep going...

# Pivot #3
Since -2 is the largest number in the bottom row, we try that one for the **entering variable**. Now we need to determine which will be the **departing variable**.

In [ ]:
print('R0:', 4/1)
# print('R1:', 36/0) - DNE
print('R2:', 10/-1) # negative number, no dice!

# looks like we will use R0...

R0: 4.0
R2: -10.0

In [ ]:
# make it pretty in a table so you know what to do
tmp = pd.DataFrame(np.array(A)) # you only need this in the first example
tmp.columns = ['x1', 'x2', 'x3', 's1', 's2', 's3', 'b']
tmp.index=['R0', 'R1', 'R2', 'R3']
tmp

# highlight a single cell pivot element
idx_r = 0
idx_c = 5

# apply style to rows and columns
tmp.style\
.apply(lambda x: ['background: lightblue' if x.name == 's3' else '' for i in x])\
.apply(lambda x: ['background: lightblue' if x.name == 'R0' else '' for i in x], axis=1)\
.apply(styling_specific_cell, row_idx = idx_r, col_idx = idx_c, axis = None)

We've got our work cut out for us - let's get rid of the negative values with Gauss-Jordan elimination. Leave the row of interest as-is (R1, R2, R3) and add multiples of R3 to it.

In [ ]:
# R1 is fine
# we add multiples of R0 to R2 and R3
# add 1*R0 to R2
A[2,:] = A[2,:] + A[0,:]
# add 2*R0 to R3
A[3,:] = A[3,:] + 2*A[0,:]

# check your work
pprint(A)

⎡-1  0  0  1  1   1  4 ⎤
⎢                      ⎥
⎢2   1  0  0  -1  0  36⎥
⎢                      ⎥
⎢0   0  1  1  1   0  14⎥
⎢                      ⎥
⎣1   0  0  2  1   0  64⎦

In [ ]:
# make it pretty
tmp = pd.DataFrame(np.array(A)) # you only need this in the first example
tmp.columns = ['x1', 'x2', 'x3', 's1', 's2', 's3', 'b']
tmp.index=['R0', 'R1', 'R2', 'R3']
tmp

    x1 x2 x3 s1  s2 s3   b
R0  -1  0  0  1   1  1   4
R1   2  1  0  0  -1  0  36
R2   0  0  1  1   1  0  14
R3   1  0  0  2   1  0  64

SWEET! We are done here. No negative values in the bottom row. Now we can read off the final solution.

# Final Solution
Note that this tableau is final because it represents a feasible solution and there are no negative entries in the bottom row. So, the maximum value of the objective function is $z = 64$ and this occurs when $x_1 = 0, x_2 = 36, x_3 = 14$.

# Thoughts
It's tough choosing the entering variable at random, but we got there.

# Appendix: Color coding a table
We'll manipulate this often to color code our tableaus for easy viewing.

In [ ]:
# a random sample array

A = Matrix([[60,   12,   10,   1,  0,  0.12],
            [60,    6,   30,   0,  1,  0.15],                      
            [-300,  -36,  -90,  0,  0,   0]])

# make it pretty
tmp = pd.DataFrame(np.array(A).astype(float)) # you only need this in the first example
tmp.columns = ['y1', 'y2', 'y3', 's1', 's2', 'b']
tmp.index=['R0', 'R1', 'R2']
tmp

# add some color to highlight s1 and s2 and z
# Custom function to color the desired cell
def styling_specific_cell(x,row_idx,col_idx):
    color = 'background-color: yellow; color: red'
    df_styler = pd.DataFrame('', index=x.index, columns=x.columns)
    df_styler.iloc[row_idx, col_idx] = color
    return df_styler

# highlight a single cell pivot element
idx_r = 0
idx_c = 0

# apply style to rows and columns
tmp.style\
.apply(lambda x: ['background: lightblue' if x.name == 'y1' else '' for i in x])\
.apply(lambda x: ['background: lightblue' if x.name == 'R0' else '' for i in x], axis=1)\
.apply(styling_specific_cell, row_idx = idx_r, col_idx = idx_c, axis = None)