<a href="https://colab.research.google.com/github/drdww/OPIM5641/blob/main/Module2/M2_2/8_TheSimplexMethod_Minimization_Mixed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# The Simplex Method: Mixed Constraints (Minization)
**OPIM 5604: Business Decision Modeling - University of Connecticut**

Material from: "Elementary Linear Algebra" - 8th Edition (Ron Larson) - Chapter 9.

---------------------------------------------------------------------------
**Objectives:**
* Find the minimum of an objective function subject to mixed constraints.

In [ ]:
# import modules
# Matrix makes a sympy Matrix, Rational is FRACTION, pprint makes it pretty print, nsimplify converts decimals to fractions (rational numbers)
from sympy import Matrix, Rational, pprint, nsimplify 
from sympy import *
# standard modules
import numpy as np
import pandas as pd

In [ ]:
# awesome latex symbols! all students should be able to write constraints with LaTeX.
# https://oeis.org/wiki/List_of_LaTeX_mathematical_symbols
# http://www.emerson.emory.edu/services/latex/latex_119.html

# Intro
The solution of minimization problems in standard form.
Minimization problems that are not in standard form are more difficult to solve. One
technique is to change a mixed-constraint minimization problem to a mixed-constraint
maximization problem by multiplying each coefficient in the objective function by −1. 

Find the minimum value of:
$z = 4x_1 + 2x_2 + x_3$

subject to:
* $2x_1 + 3x_2 + 4x_3 \leq 14$
* $3x_1 + x_2 + 5x_3 \geq 4$
* $x_1 + 4x_2 + 3x_3 \geq 6$
* $x_1, x_2, x_3 \geq 0$ `nonnegativity`

Note that nonnegativity is not a mixed constraint! 

First, rewrite the objective function by multiplying each of its coefficients by −1, as
shown below.
$z = -4x_1 - 2x_2 - x_3$

Maximizing this revised objective function is equivalent to minimizing the original objective function. Next, add a slack variable to the first inequality and subtract surplus variables from the second and third inequalities to produce the initial simplex tableau
 
It becomes:

$2x_1 + 3x_2 + 4x_3 + s_1 = 14$

For the other two inequalities, a new type of variable, a **surplus variable**, is introduced as shown below.

$3x_1 + x_2 + 5x_3 - s_2= 4$

$x_1 + 4x_2 + 3x_3 - s_3= 6$

Notice that surplus variables are subtracted from (not added to) the left side of each equation. They are called surplus variables because they represent the amounts by which the left sides of the inequalities exceed the right sides. Surplus variables must be nonnegative. 

To solve the problem, we make our initial simplex tableau $A$ as shown below.

In [ ]:
# make the initial simplex tableau
A = Matrix([[2,3,4,1,0,0,14],
           [3,1,5,0,-1,0,4],
           [1,4,3,0,0,-1,6],
           [4,2,1,0,0,0,0]])
pprint(A)

⎡2  3  4  1  0   0   14⎤
⎢                      ⎥
⎢3  1  5  0  -1  0   4 ⎥
⎢                      ⎥
⎢1  4  3  0  0   -1  6 ⎥
⎢                      ⎥
⎣4  2  1  0  0   0   0 ⎦

In [ ]:
# looks good, but let's make it pretty.
tmp = pd.DataFrame(np.array(A)) # you only need this in the first example
tmp.columns = ['x1', 'x2', 'x3', 's1', 's2', 's3', 'b']
tmp.index=['R0', 'R1', 'R2', 'R3']
tmp

   x1 x2 x3 s1  s2  s3   b
R0  2  3  4  1   0   0  14
R1  3  1  5  0  -1   0   4
R2  1  4  3  0   0  -1   6
R3  4  2  1  0   0   0   0

Note that the bottom row contains the negatives of the coefficients of the revised
objective function. Another way of looking at this is that when using this technique to
solve minimization problems in nonstandard form, the bottom row of the initial simplex
tableau consists of the coefficients of the original objective function.

# Pivot #1 (Trial and Error )
As with maximization problems with mixed constraints, this initial simplex
tableau does not represent a feasible solution. By trial and error, choose $x_2$ as the
**entering variable** and $s_2$ as the **departing variable**.

In [ ]:
# lets add some formatting to show this
# we already have tmp defined with names, no need to replicate

# apply style to a single column
tmp.style\
.apply(lambda x: ['background: lightblue' if x.name == 'x2' else '' for i in x])

In [ ]:
#Remember, now we need to compute b/a for each element and choose the smallest positive number.
# R0
#print('R0:', 14/3)
# R1
#print('R1:', 4/1) 
# R2
#print('R2:', 6/4)

# so R1 it is! color it below.

R0: 4.666666666666667
R1: 4.0
R2: 1.5

In [ ]:
# highlight a single cell pivot element

idx_r = 1
idx_c = 1

# apply style to rows and columns
tmp.style\
.apply(lambda x: ['background: lightblue' if x.name == 'x2' else '' for i in x])\
.apply(lambda x: ['background: lightblue' if x.name == 'R1' else '' for i in x], axis=1)\
.apply(styling_specific_cell, row_idx = idx_r, col_idx = idx_c, axis = None)

# looks awesome.

Remember, now we need to apply Gauss-Jordan elimiation and turn the pivot element into a $1$ (already done) and make the values above and below into a $0$.

In [ ]:
# add a -3*R1 to R0
A[0,:] = A[0,:] - 3*A[1,:]

# add a -4*R1 to R2
A[2,:] = A[2,:] - 4*A[1,:]

# add a -2*R1 to R3
A[3,:] = A[3,:] - 2*A[1,:]
pprint(A)

⎡-7   0  -11  1  3   0    2 ⎤
⎢                           ⎥
⎢ 3   1   5   0  -1  0    4 ⎥
⎢                           ⎥
⎢-11  0  -17  0  4   -1  -10⎥
⎢                           ⎥
⎣-2   0  -9   0  2   0   -8 ⎦

To transform the tableau into one that represents a feasible solution, multiply the third
row by −1.

In [ ]:
# Multiply -1* R2
A[2,:] = -1*A[2,:]
pprint(A)

⎡-7  0  -11  1  3   0  2 ⎤
⎢                        ⎥
⎢3   1   5   0  -1  0  4 ⎥
⎢                        ⎥
⎢11  0  17   0  -4  1  10⎥
⎢                        ⎥
⎣-2  0  -9   0  2   0  -8⎦

In [ ]:
# make it pretty
tmp = pd.DataFrame(np.array(A)) # you only need this in the first example
tmp.columns = ['x1', 'x2', 'x3', 's1', 's2', 's3', 'b']
tmp.index=['R0', 'R1', 'R2', 'R3']
tmp

    x1 x2   x3 s1  s2 s3   b
R0  -7  0  -11  1   3  0   2
R1   3  1    5  0  -1  0   4
R2  11  0   17  0  -4  1  10
R3  -2  0   -9  0   2  0  -8

Looks good! We check for negative values and we see we have a negative value for $x_1$ and $x_3$ . 

Now that you have obtained a simplex tableau that represents a feasible solution,
continue with pivoting operations until you obtain an optimal solution.

# Pivot #2
$x_3$ will be our **entering variable** and we compute ratios to determine the **departing variable**.

In [ ]:
#print('R0:', 2/-11) negative number
print('R1:', 4/5)
print('R2:', 10/17) 

# so R2 is our departing variable , so S3 is our departing variable

R1: 0.8
R2: 0.5882352941176471

In [ ]:
# make it pretty
# since tmp is already defined we will just add color

# highlight a single cell pivot element
idx_r = 2
idx_c = 2

# apply style to rows and columns
tmp.style\
.apply(lambda x: ['background: lightblue' if x.name == 'x3' else '' for i in x])\
.apply(lambda x: ['background: lightblue' if x.name == 'R2' else '' for i in x], axis=1)\
.apply(styling_specific_cell, row_idx = idx_r, col_idx = idx_c, axis = None)

# looks great!

Now we apply Gauss-Jordan elimination. Turn the '17' in R2 into a 1, and rest into 0.

In [ ]:
  #R2, Change it to 1
  A[2,:] = A[2,:]/17
  pprint(A)

⎡-7  0  -11  1    3     0    2 ⎤
⎢                              ⎥
⎢3   1   5   0   -1     0    4 ⎥
⎢                              ⎥
⎢11                          10⎥
⎢──  0   1   0  -4/17  1/17  ──⎥
⎢17                          17⎥
⎢                              ⎥
⎣-2  0  -9   0    2     0    -8⎦

In [ ]:
# R0 
# we add 11*R2 to  R0
A[0,:] = A[0,:] + 11*A[2,:]

# R1 , we subtract 5*R2 to  R0
A[1,:] = A[1,:] - 5*A[2,:]

#R3,  9*R2 to  R0
A[3,:] = A[3,:] + 9*A[2,:]
pprint(A)

⎡                        11    144 ⎤
⎢2/17   0  0  1  7/17    ──    ─── ⎥
⎢                        17     17 ⎥
⎢                                  ⎥
⎢                               18 ⎥
⎢-4/17  1  0  0  3/17   -5/17   ── ⎥
⎢                               17 ⎥
⎢                                  ⎥
⎢ 11                            10 ⎥
⎢ ──    0  1  0  -4/17  1/17    ── ⎥
⎢ 17                            17 ⎥
⎢                                  ⎥
⎢ 65                           -46 ⎥
⎢ ──    0  0  0  -2/17  9/17   ────⎥
⎣ 17                            17 ⎦

In [ ]:
# and make it pretty
tmp = pd.DataFrame(np.array(A)) # you only need this in the first example
tmp.columns = ['x1', 'x2', 'x3', 's1', 's2', 's3', 'b']
tmp.index=['R0', 'R1', 'R2', 'R3']
tmp

       x1 x2 x3 s1     s2     s3       b
R0   2/17  0  0  1   7/17  11/17  144/17
R1  -4/17  1  0  0   3/17  -5/17   18/17
R2  11/17  0  1  0  -4/17   1/17   10/17
R3  65/17  0  0  0  -2/17   9/17  -46/17

We still have negative values for the slack variables, so we keep going...

# Pivot #3
Since -2/17 is the largest number in the bottom row, we try that one for the **entering variable**. Now we need to determine which will be the **departing variable**.

In [ ]:
print('R0:', ((144/17)/(7/17)))
print('R1:', ((18/17)/(3/17))) 
#print('R2:', ((10/17)/(-4/17))) # negative number, no dice!

# looks like we will use R1...

R0: 20.571428571428573
R1: 6.0

In [ ]:
# make it pretty in a table so you know what to do
tmp = pd.DataFrame(np.array(A)) # you only need this in the first example
tmp.columns = ['x1', 'x2', 'x3', 's1', 's2', 's3', 'b']
tmp.index=['R0', 'R1', 'R2', 'R3']
tmp

# highlight a single cell pivot element
idx_r = 1
idx_c = 4

# apply style to rows and columns
tmp.style\
.apply(lambda x: ['background: lightblue' if x.name == 's2' else '' for i in x])\
.apply(lambda x: ['background: lightblue' if x.name == 'R1' else '' for i in x], axis=1)\
.apply(styling_specific_cell, row_idx = idx_r, col_idx = idx_c, axis = None)

We've got our work cut out for us - let's get rid of the negative values with Gauss-Jordan elimination.

In [ ]:
#R1, Change it to 1
A[1,:] = A[1,:]*17/3


# check your work
pprint(A)

⎡                          11   144 ⎤
⎢2/17   0    0  1  7/17    ──   ─── ⎥
⎢                          17    17 ⎥
⎢                                   ⎥
⎢-4/3  17/3  0  0    1    -5/3   6  ⎥
⎢                                   ⎥
⎢ 11                             10 ⎥
⎢ ──    0    1  0  -4/17  1/17   ── ⎥
⎢ 17                             17 ⎥
⎢                                   ⎥
⎢ 65                            -46 ⎥
⎢ ──    0    0  0  -2/17  9/17  ────⎥
⎣ 17                             17 ⎦

In [ ]:
# R0 
A[0,:] = A[0,:] - A[1,:]*7/17

# R2 
A[2,:] = A[2,:] + A[1,:]*4/17

#R3
A[3,:] = A[3,:] + A[1,:]*2/17
pprint(A)

⎡2/3   -7/3  0  1  0  4/3   6 ⎤
⎢                             ⎥
⎢-4/3  17/3  0  0  1  -5/3  6 ⎥
⎢                             ⎥
⎢1/3   4/3   1  0  0  -1/3  2 ⎥
⎢                             ⎥
⎣11/3  2/3   0  0  0  1/3   -2⎦

In [ ]:
# make it pretty
tmp = pd.DataFrame(np.array(A)) # you only need this in the first example
tmp.columns = ['x1', 'x2', 'x3', 's1', 's2', 's3', 'b']
tmp.index=['R0', 'R1', 'R2', 'R3']
tmp

      x1    x2 x3 s1 s2    s3   b
R0   2/3  -7/3  0  1  0   4/3   6
R1  -4/3  17/3  0  0  1  -5/3   6
R2   1/3   4/3  1  0  0  -1/3   2
R3  11/3   2/3  0  0  0   1/3  -2

 We are done here. No negative values in the bottom row. Now we can read off the final solution.

# Final Solution
The maximum value of the revised objective function is $z = −2$, and so the minimum value of the original objective function is
$w = 2$ (the negative of the entry in the lower-right corner). This occurs when
$x1 = 0$, $x2 = 0$, and $x3 = 2$.

# Thoughts
It's tough choosing the entering variable at random, but we got there.

# Appendix: Color coding a table
We'll manipulate this often to color code our tableaus for easy viewing.

In [ ]:
# a random sample array

A = Matrix([[60,   12,   10,   1,  0,  0.12],
            [60,    6,   30,   0,  1,  0.15],                      
            [-300,  -36,  -90,  0,  0,   0]])

# make it pretty
tmp = pd.DataFrame(np.array(A).astype(float)) # you only need this in the first example
tmp.columns = ['y1', 'y2', 'y3', 's1', 's2', 'b']
tmp.index=['R0', 'R1', 'R2']
tmp

# add some color to highlight s1 and s2 and z
# Custom function to color the desired cell
def styling_specific_cell(x,row_idx,col_idx):
    color = 'background-color: yellow; color: red'
    df_styler = pd.DataFrame('', index=x.index, columns=x.columns)
    df_styler.iloc[row_idx, col_idx] = color
    return df_styler

# highlight a single cell pivot element
idx_r = 0
idx_c = 0

# apply style to rows and columns
tmp.style\
.apply(lambda x: ['background: lightblue' if x.name == 'y1' else '' for i in x])\
.apply(lambda x: ['background: lightblue' if x.name == 'R0' else '' for i in x], axis=1)\
.apply(styling_specific_cell, row_idx = idx_r, col_idx = idx_c, axis = None)